body {
  font-family: "Inter";
  background-color: #0b0b0b;
  color: white;
  box-sizing: border-box;
}

nav a,
nav span {
  color: white !important;
}

section,
header {
  margin-block: 100px;
}

.companies .col-2 {
  height: fit-content;
}

.active {
  color: #00baff !important;
}

.my-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 17px 35px;
  color: white;
}

.non-nav-btn {
  min-width: 180px;
}

.blue-btn {
  background-color: #4d17e2;
  border: 1px;
  box-shadow: #4d17e2 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.inverted {
  filter: invert();
}

.top-feature-absolute {
  top: 0%;
  left: 3%;
  /* transform: translate(-50%, -50%); */
}

.center-feature-absolute {
  top: 50%;
  left: 57%;
  transform: translate(-50%, -50%);
}
